{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.date) }}
{{ form_row(form.location) }}
{{ form_row(form.seats) }}
{{ form_row(form.image) }}
{{ form_row(form.save) }}
{{ form_end(form) }}

<a href="{{ path('admin_dashboard') }}">Retour au dashboard</a>
{% endblock %}
