{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
<h1>Réserver: {{ event.title }}</h1>

{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.email) }}
{{ form_row(form.phone) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}
